.buttom{
    text-align: center;
    
}
.heading{
    margin-left: 500px;
    border-radius: 0px 20px;
    background-color: blueviolet;
    color: white;
    font-weight: bolder;
}
.form1{
    background-color: #34eb40;
    border-radius: 5px;
    padding: 5px;
}
.form2{

}